.header {
    border: 1px solid black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.h2 {
    text-transform: capitalize;
}

.bigblue {
    color: DodgerBlue;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }
  