.Reveal {
    margin: 0 auto;
    text-align: center;
    width: 25%;
    border: 2px solid grey;
    border-radius: 10px;
 }

 h3{
     font-size: 1.6vw;
 }
 h5 {
     margin: 10px auto;
 }

 .IconDiv {
     display: inline-block;
     margin: 0 20px;
     font-weight: bold;
     
 }

 .Icon {
     font-size: 1.7vw;
 }

 .Status {
     margin:0 auto;
     padding: 0 0;
 }

 .Handler {
    border-top: 2px dashed black;
    height: 4vw;
 }

 .Button {
     height: 70%;
     width: 7vw;
     margin: 0 30px 0 30px;
     background-color: white;
     border: 0; 
     border-radius: 10px;
     cursor: pointer;
     
     box-shadow: 0 0.1rem 1rem -.4rem rgba(50, 0, 100, .15);
     margin-top: 10px;
    
 }
 .Button:hover {
    color: blue;
    box-shadow: 0 0.5rem 3rem 0rem rgba(50, 0, 100, .1);
    transform: scale(1.05);
 }

 @media (max-width: 600px) {
    .Reveal {
        width: 65%;
    }
    h3, h1, .Icon {
        font-size: 20px;
    }
    .IconDiv {
        margin:0 auto;
        width: 70px;
    }
    .Handler{
        height: 40px;
    }
    .Button {
        height: 40%;
        width: 70px;
    }
    
}